/* :root {
  --primary: #b6895b;
  --bg: #5c5b58;
  --text: #fff;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", Sans-Serif;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url("../img/—Pngtree—exquisite intricate textures of coffee_13410868.jpg");
  background-position: center;
  background-size: cover;
}

.wraper {
  background: rgb(0, 0, 0, 0.1);
  width: 320px;
  padding: 24px;
  border: 5px solid rgb(255, 255, 255, 0.1);
  border-radius: 16px;
  backdrop-filter: blur(25px);
  box-shadow: 0px 0px 30px 20px rgb(0, 0, 0, 0.1);
  color: var(--text);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wraper h2 {
  margin-bottom: 16px;
}

.input {
  display: flex;
  width: 100%;
  position: relative;
  margin-top: 20px;
}

.wraper .form input {
  margin: 4px 0;
  width: 100%;
  padding: 10px 16px 10px 38px;
  border-radius: 99px;
  border: 3px solid transparent;
  background: rgb(255, 255, 255, 0.1);
  outline: none;
  caret-color: var(--text);
  color: var(--text);
  font-weight: 500;
  transition: 0.25s;
}

.input input:focus {
  border: 3px solid rgb(255, 255, 255, 0.25);
}

.wraper .form input::placeholder {
  color: rgb(255, 255, 255, 0.75);
}

.input input::-ms-reveal {
  filter: invert(100%);
}

.input i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 14px;
  color: rgb(255, 255, 255, 0.75);
  font-size: 18px;
  transition: 0.25s;
}

.input input:focus + i {
  color: #fff;
}

.form .button button {
  margin-top: 24px;
  width: 100%;
  padding: 10px 0;
  background-color: var(--primary);
  border: none;
  border-radius: 99px;
  color: var(--text);
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  outline: transparent 3px solid;
  transition: 0.1s;
}

.form .button button:focus {
  outline: var(--primary) 3px solid;
}

.wraper .form .register p,
a {
  margin-top: 12px;
  text-align: center;
  color: var(--text);
}

/* Error message */

.error {
  color: #dc3545;
  font-size: 14px;
  font-weight: bold;
  margin-left: 8px;
} 

