name: Build & Deploy Web

on:
  workflow_dispatch:

jobs:
  build-push:
    name: Build & Push Docker Image
    runs-on: ubuntu-latest

    steps:
      # Step 1
      - name: Checkout Repository
        uses: actions/checkout@v3

      # Step 2
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ secrets.IMG_URL }}
          username: ${{ secrets.IMG_USER }}
          password: ${{ secrets.IMG_PASS }}

      # Step 3
      - name: Build Docker Image
        run: |
          docker build --no-cache \
            --build-arg NUXT_PUBLIC_API_BASE_URL="${{ secrets.NUXT_PUBLIC_API_BASE_URL }}" \
            -t ${{ secrets.IMG_URL }}/clickup-monitor/fe:latest .
      # Step 4
      - name: Push Docker Image
        run: |
          docker push ${{ secrets.IMG_URL }}/clickup-monitor/fe:latest
  # Job kedua: Deploy ke server setelah build dan push berhasil
  deploy:
    name: Deploy to Remote Server
    runs-on: ubuntu-latest
    needs: build-push  # Menunggu job build-push selesai sebelum menjalankan deploy

    steps:
      # Step 1: SSH ke server dan jalankan perintah deploy
      - name: Deploy with SSH
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.SSH_IP }}  # IP server tujuan
          username: ${{ secrets.SSH_USER }}  # Username SSH dari GitHub Secrets
          key: ${{ secrets.SSH_KEY }}  # SSH private key dari GitHub Secrets
          port: 22  # Port SSH kustom

          # Script yang dijalankan di server remote
          script: |
            cd clickup-monitoring
            docker login ${{ secrets.IMG_URL }} -u ${{ secrets.IMG_USER }} -p ${{ secrets.IMG_PASS }}
            docker pull ${{ secrets.IMG_URL }}/clickup-monitor/fe:latest
            docker stop clickup-monitor-fe
            docker rm clickup-monitor-fe
            docker run -d --restart unless-stopped --name clickup-monitor-fe -e TZ=Asia/Jakarta -p 3000:3000 ${{ secrets.IMG_URL }}/clickup-monitor/fe:latest
